footer {
  background-color: rgb(17, 24, 39);
  padding: 100px 0;
  font-family: "Poppins", sans-serif;
  .row_foot {
    justify-content: space-between;
    .col-lg-2 {
      @media (max-width: 992px) {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
      }
    }
    .cl2 {
      @media (max-width: 992px) {
        padding-right: 34px;
      }
    }
  }
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    li {
      display: flex;
      gap: 8px;
      align-items: center;
      list-style: none;
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: rgb(209, 213, 219);
      img {
        width: 140px;
        height: 46px;
      }
      svg {
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }
    #img_li {
      margin-bottom: 15px;
    }
  }
  .ul_writing {
    gap: 20px;
  }
}
