#popular {
  padding: 90px 0;
  background-color: rgb(17, 24, 39);
  font-family: "Poppins", sans-serif;
}
#popular .popular_header h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
  color: rgb(249, 250, 251);
}
@media (max-width: 390px) {
  #popular .popular_header h2 {
    font-size: 7.5vw;
    text-align: center;
  }
}
#popular .popular_header h2 span {
  color: rgb(34, 197, 94);
}
#popular .popular_card {
  padding: 16px;
  border: 1px solid #374151;
  border-radius: 22px;
}
#popular .popular_card .popular_top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#popular .popular_card .popular_top img {
  height: 96px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 0.75rem;
}
@media (max-width: 308px) {
  #popular .popular_card .popular_top img {
    height: 70px;
  }
}
#popular .popular_card .popular_top img:nth-child(1) {
  width: 71.55px;
}
@media (max-width: 308px) {
  #popular .popular_card .popular_top img:nth-child(1) {
    width: 50px;
  }
}
#popular .popular_card .popular_top img:nth-child(2) {
  width: 96px;
}
@media (max-width: 308px) {
  #popular .popular_card .popular_top img:nth-child(2) {
    width: 70px;
  }
}
#popular .popular_card .popular_top img:nth-child(3) {
  width: 61.55px;
}
@media (max-width: 308px) {
  #popular .popular_card .popular_top img:nth-child(3) {
    width: 50px;
  }
}
#popular .popular_card .popular_bottom .charlize_logo {
  position: relative;
  display: flex;
  justify-content: center;
}
#popular .popular_card .popular_bottom .charlize_logo img {
  position: absolute;
  top: -20px;
  left: calc((100% - 32px - 24px) / 2);
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 4px solid black;
}
#popular .popular_card .popular_bottom .charlize {
  margin-top: 40px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#popular .popular_card .popular_bottom .charlize .charlize_left h2 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: rgb(229, 231, 235);
  margin: 0;
}
#popular .popular_card .popular_bottom .charlize .charlize_left h2 svg {
  color: #38bdf8;
  font-size: 20px;
  margin-left: 4px;
}
#popular .popular_card .popular_bottom .charlize .charlize_left span {
  color: rgb(156, 163, 175);
  font-size: 0.875rem;
  line-height: 1.25rem;
}
#popular .popular_card .popular_bottom .charlize .charlize_right {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 16px;
}
#popular .popular_card .popular_bottom .charlize .charlize_right li {
  list-style: none;
}
#popular .popular_card .popular_bottom .charlize .charlize_right li a {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 9px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration: none;
  color: rgb(209, 213, 219);
  padding: 6px 16px;
  border-radius: 26px;
  font-weight: 500;
}
#popular .popular_card .popular_bottom .charlize .charlize_right li a svg {
  font-size: 17px;
}
#popular
  .popular_card
  .popular_bottom
  .charlize
  .charlize_right
  li:nth-child(1)
  a {
  background-color: rgb(2, 132, 199);
  color: white;
  font-weight: 500;
}
#popular
  .popular_card
  .popular_bottom
  .charlize
  .charlize_right
  li:nth-child(2)
  a {
  border: 1px solid #374151;
  font-weight: 500;
}
#popular .popular_card .popular_bottom .charlize_desc {
  margin-top: 1rem;
  margin-left: 10px;
}
#popular .popular_card .popular_bottom .charlize_desc p {
  color: rgb(156, 163, 175);
  font-size: 0.875rem;
  line-height: 1.25rem;
} /*# sourceMappingURL=Popular.css.map */
