#collections {
  background-color: #0e131f;
  font-family: "Poppins", sans-serif;
  padding: 90px 0;

  .collect_card {
    position: relative;
    img {
      border-radius: 1rem;
      width: 100%;
      object-fit: cover;
      object-position: center;
      height: 410px;
      cursor: pointer;
    }

    .collect_details {
      position: absolute;
      bottom: 20px;
      left: 20px;

      .cooper {
        display: flex;
        gap: 10px;
        align-items: center;
        img {
          border: 2px solid rgb(249, 250, 251);
          width: 27px;
          height: 27px;
          border-radius: 50%;
        }

        h1 {
          font-size: 0.75rem;
          line-height: 1rem;
          color: rgb(255, 255, 255);
          font-weight: 600;
          margin: 0;
          span {
            font-weight: 500;
          }
        }
        svg {
          color: #38bdf8;
        }
      }
      h3 {
        color: rgb(255, 255, 255);
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 600;
        margin: 6px 0 20px 0;
      }
      .cooper_imgs {
        display: flex;
        justify-content: center;
        gap: 10px;
        img {
          width: 104px;
          height: 80px;
          border-radius: 0.75rem;
        }
      }
    }
  }
}
